@charset 'utf-8'

$linewidth: 900px
$mobilebreak: 48em
$iphonebreak: 300px
$main-padding: 3em

=desktop
  @media screen and (min-width: $mobilebreak)
    @content

=iphone
  @media (max-width: 380px)
    @content

@import colors
@import typography

@import header
@import menu
@import body
@import footer

@import text-elements
@import content-elements
@import form

@import homepage
