// LINKS -----------------------------------------------------------------------
a
    color: $primary
    text-decoration: underline
    text-decoration-color: $primary
    &:hover
        color: $primary-dark

.menu a
    text-decoration: none

a, .menu span
    font-weight: 500

// HEADINGS --------------------------------------------------------------------
h2
    font-size: 1.4rem
    font-weight: 550
    color: $dark
    +desktop
        font-size: 2rem

h3
    font-size: 1.2rem
    font-weight: 550
    color: $dark
    +desktop
        font-size: 1.5rem

// LISTS -----------------------------------------------------------------------
ul
    list-style: circle
