<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="no-referrer">

  {{ $sass_options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
  {{ $style := resources.Get "sass/main.sass" | toCSS $sass_options | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
</head>

<body>
  <div class="backdrop {{ if .IsHome }}full{{ end }}">
  <img sizes="(max-width: 1920px) 100vw, 1920px"
    srcset="
      {{ "hero_520.jpg" | relURL }} 520w,
      {{ "hero_906.jpg" | relURL }} 906w,
      {{ "hero_1216.jpg" | relURL }} 1216w,
      {{ "hero_1920.jpg" | relURL }} 1920w"
    src="{{ "hero_1920.jpg" | relURL }}"
    alt="">
  </div>

  <header>
    <h1><a href="{{ .Site.BaseURL }}">Das Ackersyndikat</a></h1>

    <nav>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        {{ range .Site.Menus.main }}
        <li>
          {{ if eq .URL ""}}
          <span>{{ .Name }}</span>
          {{ else }}
          <a href="{{ .URL | absURL }}">{{ .Name }}</a>
          {{ end }}
          {{ if .HasChildren }}
          <div class="dropdown">
            <ul>
              {{ range .Children }}
              <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
            {{ end }}
          </div>
        </li>
        {{ end }}
      </ul>
    </nav>
  </header>

  {{ block "main" . }}
  {{ end }}

  <footer>
    <div>
      <span class="title">Das Ackersyndikat</span>
      <p>Land und Höfe als Gemeingut – dezentral, selbstorganisiert und solidarisch</p>
    </div>
    <div>
      <ul>
        <li><a href="https://mailhide.io/en/e/uWVsOL0G">kontakt@acker.....kat.org</a></li>
        <li><a href="{{ "impressum" | absURL }}">Impressum</a></li>
        <li><a href="{{ "datenschutz" | absURL }}">Datenschutz</a></li>
      </ul>
    </div>
  </footer>
</body>

</html>
